$info: rgba(30, 187, 235, 0.829);
$success: #1DBF73;
$success-dark: #6fda44;
$box-shadow-lg: 0 1rem 3rem rgba($info, .175);

// Leran More List
$list-group-bg: rgb(0 0 0 / 38%);
$list-group-border-color: none;
$list-group-color: white;




@import "../../node_modules/bootstrap/scss/bootstrap";