:root{
    --main-color: rgba(30, 187, 235, 0.829);
    --main-transition: .5s;
    --overlay-color: #d1d7da86;
}
*{
    font-family: Cairo, Roboto, Arial, Helvetica, sans-serif;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
}
a,
a:hover{
    text-decoration: none !important;
    /* color: white !important; */
}
.navbar-container,
.footer-container{
    transition: var(--main-transition);
}
/* Start Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    border: 10px solid #101922;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}
/* for Firefox */
html {
    scrollbar-color: rgba(30, 187, 235, 0.829) #25585cbd;
}
/* End Scrollbar */

/* Start Navbar */
.hover-effect{
    position: relative;
    cursor: pointer;
}
.hover-effect::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 2px;
    background: black;
    transition: var(--main-transition);
}
.hover-effect:hover::after{
    width: 110%;
}
/* End Navbar */

/* Start Main */
/* .main-content{
    background: linear-gradient(45deg , transparent 10%,transparent 11%, transparent 89% , var(--main-color) 90%),linear-gradient(135deg , var(--main-color) 10%,transparent 11%, transparent 89% , transparent 90%),radial-gradient(circle, transparent 25%, transparent  26%),linear-gradient(45deg, transparent 46%, transparent 47%, transparent 52%, transparent 53%), linear-gradient(135deg, transparent 46%, transparent 47%, transparent 52%, transparent 53%);
        background-size: 3em 3em;
} */
/* Start Introduction */
.introduction-container{
    position: relative;
}
.introduction-top-bollets{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 5px;
    transform: rotate(-3deg);
}
.introduction-bottom-bollets{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 5px;
}
.introduction-image{
    animation: bounce-image 4s linear infinite;
}
@keyframes bounce-image {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
/* End Introduction */

/* Start Projects */
.project-container{
    position: relative;
    z-index: 1;
}
.project-container-overlay{
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    background: rgba(128, 128, 128, 0.349);
    transition: var(--main-transition);
}
.project-container:hover .project-container-overlay{
    
}
/* End Projects */
/* End Main */