@import url('https://fonts.googleapis.com/css2?family=Asap&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Fuzzy+Bubbles&family=Nunito&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color: rgba(30, 187, 235, 0.829);
    --main-transition: .5s;
    --overlay-color: #d1d7da86;
}
html, body{
    overflow-x: hidden;
}
*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
}
a,
a:hover{
    text-decoration: none !important;
    /* color: white !important; */
}
.navbar-container,
.footer-container{
    transition: var(--main-transition);
}
/* Start Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    border: 10px solid #101922;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}
/* for Firefox */
html {
    scrollbar-color: rgba(30, 187, 235, 0.829) #25585cbd;
}
/* End Scrollbar */

/* Start Custom Classes */
.move-items-top{
    transform: translateY(-1000px) rotate(90deg);
    
}
.move-items-bottom{
    transform: translateY(-1000px) rotate(90deg);
}
.move-items-right{
    translate: 1000px;
    rotate: 90deg;
    /* transform: translateX(-1000px) rotate(90deg); */
}
.move-items-left{
    translate: -1000px;
    rotate: 90deg;
    /* transform: translateX(1000px) rotate(90deg); */
}
/* End Custom Classes */

/* Start Navbar */
.hover-effect{
    position: relative;
    cursor: pointer;
}
.hover-effect::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 2px;
    background: black;
    transition: var(--main-transition);
}
.hover-effect:hover::after{
    width: 110%;
}
/* End Navbar */

/* Start Main */
/* .main-content{
    background: linear-gradient(45deg , transparent 10%,transparent 11%, transparent 89% , var(--main-color) 90%),linear-gradient(135deg , var(--main-color) 10%,transparent 11%, transparent 89% , transparent 90%),radial-gradient(circle, transparent 25%, transparent  26%),linear-gradient(45deg, transparent 46%, transparent 47%, transparent 52%, transparent 53%), linear-gradient(135deg, transparent 46%, transparent 47%, transparent 52%, transparent 53%);
        background-size: 3em 3em;
} */
.projects-container{
    margin: 150px 0;
}
/* Start Introduction */
.introduction-name,
.introduction-description{
    transition: 2s;
}
.introduction-swiper{
    transition: 3s;
}
.introduction-container{
    position: relative;
}
.introduction-top-bollets{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 2px;
}
.introduction-bottom-bollets{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 2px;
}
.introduction-swiper{
    animation: bounce-image 4s linear infinite;
}
@keyframes bounce-image {
    0%,100%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
}
/* End Introduction */

/* Start Projects */
.projects-arrow{
    animation: move-arrow 1.5s linear infinite;
}
@keyframes move-arrow {
    0%, 10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-5px);
    }

}
.project-container{
    transition: 2s;
}
.project-container{
    position: relative;
    z-index: 1;
}
.project-container > a{
    transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
    transition: all 0.4s linear;
}
.project-container:hover > a{
    transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.project-container::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.349);
    transition: var(--main-transition);
}
.project-container:hover::after{
    top: 0;
    width: 100%;
    height: 100%;
}
.project-container div a{
    opacity: 0;
    transition: var(--main-transition);
    transform: translateY(-100%);
    z-index: -1;
}
.project-container:hover div a{
    opacity: 0.6;
    transform: translateY(0%);
    z-index: 1;
}
.project-container div a:hover{
    opacity: 1;
    background: #000;
}
/* End Projects */
/* End Main */