@import url('https://fonts.googleapis.com/css2?family=Asap&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Fuzzy+Bubbles&family=Nunito&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color: rgba(30, 187, 235, 0.829);
    --main-transition: .5s;
    --overlay-color: #d1d7da86;
}
html, body{
    overflow-x: hidden;
}
*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
}
a,
a:hover{
    text-decoration: none !important;
}
.navbar-container,
.footer-container{
    transition: var(--main-transition);
}
/* Start Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    border: 10px solid black;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(222, 222, 223, 0.678);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}
/* for Firefox */
html {
    scrollbar-color: rgba(222, 222, 223, 0.678) black;
}
/* End Scrollbar */

/* Start Custom Classes */
.move-items-top{
    transform: translateY(-1000px) rotate(90deg);
    
}
.move-items-bottom{
    transform: translateY(-1000px) rotate(90deg);
}
.move-items-right{
    translate: 1000px;
    rotate: 90deg;
}
.move-items-left{
    translate: -1000px;
    rotate: 90deg;
}
/* End Custom Classes */

/* Start Navbar */
.hover-effect{
    position: relative;
    cursor: pointer;
}
.hover-effect::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: var(--main-transition);
}
.hover-effect:hover::after{
    width: 110%;
}
/* End Navbar */

/* Start Main */
.main-content{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231EBBEB'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23D2FDFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23D2FDFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.08'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.learn-container,
.projects-container{
    padding: 150px 0;
}


/* Start Introduction */
.introduction-name{
    background: linear-gradient(to left, #fefefe 0%, var(--main-color) 74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(8px 8px 15px black);
    transition: 2s;
}
.introduction-swiper{
    transition: 3s;
}
.introduction-swiper{
    animation: bounce-container 4s linear infinite;
}
@keyframes bounce-container {
    0%,100%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
}
.introduction-swiper-card{
    position: relative;
}
.introduction-swiper-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to top, black, #00000000);
}
/* End Introduction */

/* Start Leran more */
.list-group.list-group-numbered{
    gap: 0px;
    transition: all var(--main-transition);
}
.list-group.list-group-numbered:hover{
    gap: 20px;
}
/* End Leran more */

/* Start Projects */
.projects-arrow{
    animation: move-arrow 1.5s linear infinite;
}
@keyframes move-arrow {
    0%, 10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-5px);
    }

}
.project-container{
    transition: 2s;
}
.project-container{
    position: relative;
    z-index: 1;
}
.project-container > a{
    transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
    transition: all 0.4s linear;
}
.project-container:hover > a{
    transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.project-container::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.349);
    transition: var(--main-transition);
}
.project-container:hover::after{
    top: 0;
    width: 100%;
    height: 100%;
}
.project-container div a{
    opacity: 0;
    transition: var(--main-transition);
    transform: translateY(-100%);
    z-index: -1;
}
.project-container:hover div a{
    opacity: 0.6;
    transform: translateY(0%);
    z-index: 1;
}
.project-container div a:hover{
    opacity: 1;
    background: #000;
}
/* End Projects */
/* End Main */