@import url('https://fonts.googleapis.com/css2?family=Asap&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Fuzzy+Bubbles&family=Nunito&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-font: Roboto, Arial, Helvetica, sans-serif;
    --main-color: rgba(30, 187, 235, 0.829);
    --main-color-shadow: rgb(30 187 235 / 21%);
    --main-transition: .5s;
    --overlay-color: #d1d7da86;
    --dark-color: #0000004f;
}
*{
    font-family: var(--main-font);
}
ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
}
a,
a:hover{
    text-decoration: none !important;
}
/* Start Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    border: 2px solid black;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(172, 172, 172, 0.64);
}
::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}
/* for Firefox */
html {
    scrollbar-color: var(--main-color) rgba(222, 222, 223, 0.678);
}
/* End Scrollbar */

/* Start Custom Classes */
.remove-selecting{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.opacity-hover:hover{
    transition: 0.3s;
    opacity: .6;
}
.hover-black:hover{background: #000;}
.space{
    padding: 150px 0;
}
.extra-space{
    padding: 150px 0;
    margin: 100px 0;
}
.bottom-pattren-box{
    --mask:
    radial-gradient(54.08px at 50% calc(100% - 75.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(54.08px at 50% calc(100% + 45.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
.top-bottom-pattren-box{
    --mask:
        radial-gradient(54.08px at 50% 75.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
        radial-gradient(54.08px at 50% -45px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
        radial-gradient(54.08px at 50% calc(100% - 75.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
        radial-gradient(54.08px at 50% calc(100% + 45.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
.night-bg{
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
}
/* End Custom Classes */

/* Start Navbar */
.hover-effect{
    position: relative;
}
.hover-effect::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: var(--main-transition);
}
.hover-effect:hover{
    color: var(--main-color) !important;
}
.hover-effect:hover::after{
    width: 100%;
}
.hover-container:hover{
    color: whitesmoke !important;
    background-color: var(--dark-color) !important;
    transition: .4s;
}
/* End Navbar */

/* Start Main */
/* Start Introduction */
.introduction-text-animation{
    width: 0px;
    animation: move-text 5s steps(14) alternate infinite;
}
@keyframes move-text {
    from{
        width: 0px;
    }
    to{
        width: 230px;
    }
}
.introduction-image-shadow,
.introduction-image-overlay{
    -webkit-clip-path: polygon(29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%);
    -moz-clip-path: polygon(29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%);
    -ms-clip-path: polygon(29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%);
    clip-path: polygon(29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%);
    background-image: linear-gradient(312deg, #000000 0%, #274060 78%);
}
.introduction-image{
    -webkit-clip-path: polygon(0% 0, 71% 0, 100% 0%, 100% 79%, 71% 100%, 29% 100%, 0 79%, 0 29%);
    -moz-clip-path: polygon(0% 0, 71% 0, 100% 0%, 100% 79%, 71% 100%, 29% 100%, 0 79%, 0 29%);
    -ms-clip-path: polygon(0% 0, 71% 0, 100% 0%, 100% 79%, 71% 100%, 29% 100%, 0 79%, 0 29%);
    clip-path: polygon(0% 0, 71% 0, 100% 0%, 100% 79%, 71% 100%, 29% 100%, 0 79%, 0 29%);
}
.introduction-links-container a:hover svg{background-color: var(--main-color) !important; border-radius: 15% !important; transition: var(--main-transition);}
/* End Introduction */

/* Start Contact */
.contact-form-input::placeholder{
    color: rgba(245, 245, 245, 0.826) !important;
}
/* End Contact */
/* End Main */